.projects {
  // margin: 15rem 0;
  margin-top: 6rem;
  // padding-top: 6rem;
  display: flex;
  flex-direction: column;
  // margin-left: 2rem;
  // margin-right: 2rem;
  // position: relative;
  cursor: pointer;
  // background-color: red;
  // width: 100%;

  .title {
    font-family: var(--raleway);
    color: var(--lightest-slate);

    // position: relative;
    // margin-left: 1rem;
    display: none;
    h2 {
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
    }
  }
  &-container {
    // z-index: -99999;
    display: flex;
    flex-direction: column;
    // height: 100%;
    // display: grid;
    // grid-template-columns: 1.4fr 4.5fr;
    // // flex-wrap: wrap;
    // width: 100%;
    max-width: 700px;
    // cursor: pointer;
    // padding-left: 1.8rem;
    // padding-right: 1.8rem;
    gap: 4.5rem;
    cursor: pointer;

    .project {
      position: relative;
      display: grid;
      cursor: pointer;

      grid-template-columns: 1.5fr 5fr;
      gap: 1.5rem;
      width: 100%;
      height: 100%;

      h3 {
        font-weight: 700;
        color: var(--lightest-slate);
        font-family: var(--inter-code);
        font-size: var(--tsm3);
      }

      .wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &-info {
          &-links {
            &-item {
              &-link {
                color: var(--theme-color);
              }
            }
          }
        }
      }

      &:hover {
        // opacity: 1;
        transition: 0.3s ease-in-out;
        // box-shadow: 0 10px 30px -10px var(--navy-shadow);
        border-radius: 5px;
        // color: white;
        color: var(--theme-color);
        font-family: var(--inter-code);
        h3 {
          color: var(--theme-color);
        }

        .project-info-links-item-link {
          color: var(--theme-color);
          transform: translate(0.3rem, -0.2rem);
        }
        &-info {
          .wrap {
            display: flex;
            align-items: center;
            color: var(--theme-color);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -33px; // Adjust as needed to extend beyond the element
          right: -33px; // Adjust as needed to extend beyond the element
          top: -30px;
          bottom: -30px;
          // bottom: 0;
          background-color: #131e37;
          cursor: pointer;
          box-shadow: 0 10px 30px -10px var(--navy-shadow);
          color: var(--theme-color);

          z-index: -1; // Ensure it’s behind the text
          border-radius: 5px; // Match the border radius if needed
        }

        span {
          // color: white;
          color: var(--theme-color);
        }
      }

      // justify-content: flex-end;
      &-image {
        &-container {
          margin-top: 0.5rem;
          position: relative;
          width: 130px;
          height: 100px;
        }

        &:hover {
          img {
            filter: none;
          }
        }
        &-overlay {
          transition: 0.3s ease-in-out;
        }
        img {
          // z-index: -999999;
          // filter: grayscale(100%);
          transition: 0.3s ease-in-out;
        }
      }
      &-info {
        // z-index: -9999;
        // width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        &-overline {
          color: var(--theme-color);
          // font-family: var(--fira-code);
          font-family: var(--inter-code);
        }

        &-title {
          width: max-content;
          color: var(--lightest-slate);

          padding-top: 0rem;
          margin-top: -0.4rem;
          // color: var(--slate);
          font-family: var(--inter-code);
          font-size: var(--tsm3);
          // font-family: var(--raleway);
          cursor: pointer;
          transition: 0.3s ease-in-out;
          letter-spacing: 0rem;
        }
        &-description {
          // background-color: var(--lightest-slate);
          color: var(--light);

          font-family: var(--inter-code);
          font-size: var(--tsm1);
          letter-spacing: 0rem;

          // font-weight: 500;
          // letter-spacing: 0.05rem;

          line-height: 1.4rem;

          border-radius: 0.2rem;
          p {
            color: var(--light);
            // font-family: var(--raleway);
            font-family: var(--inter-code);
            letter-spacing: 0rem;

            opacity: 1;
            // padding: 2rem;
            text-align: end;
          }
        }
        &-tech-list {
          display: flex;
          list-style-type: none;
          gap: 0.5rem;
          flex-wrap: wrap;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          &-item {
            color: var(--light-slate);
            font-family: var(--raleway);
            background-color: #132b3b;
            color: var(--theme-color);
            letter-spacing: 0rem;

            padding: 7px 10px;
            font-size: var(--tsm);
            border-radius: 14px;
          }
        }
        &-links {
          font-size: var(--tlarge2);
          list-style-type: none;
          display: flex;
          gap: 1rem;
          &-item {
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 0.05rem;

            &-link {
              // padding: 10px;
              color: var(--lightest-slate);
              transition: 0.3s ease-in-out;
              outline: 2px dashed transparent;
              cursor: pointer;

              &:hover {
                color: var(--theme-color);
                cursor: pointer;
              }
              &:focus {
                outline-color: var(--theme-color);
                // transform: translateY(-3px);
                color: var(--theme-color);
              }
            }
          }
        }
      }
      &:nth-of-type(even) {
        justify-content: flex-start;
        .project-image {
          right: 0;
          left: initial;
        }
        .project-info {
          align-items: flex-start;
          &-description {
            p {
              text-align: start;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    &-container {
      // z-index: -99999;
      padding-top: 4rem;
      display: flex;
      gap: 3rem;

      .project {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        // z-index: -99999;
      }
    }

    .title {
      // margin-bottom: 2rem;
      padding-left: 1.8rem;
      padding-top: 4rem;

      display: flex;
      font-family: var(--raleway);
      color: var(--lightest-slate);
      position: relative;
      h2 {
        // margin-bottom: 2rem;
        font-size: var(--tx1large);
        font-weight: 700;
      }
    }
  }
  @media screen and (max-width: 768px) {
    // margin: 5rem 0;
    // z-index: -99999;

    &-container {
      // z-index: -99999;

      .project {
        &-image {
          &-container {
            width: 100%;
            // width: 500px;
            // height: 300px;
          }
        }
        .project-info {
          // width: 500px;
          // height: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .projects {
      padding-top: 0rem;
    }
    &-container {
      .project {
        &-image {
          &-container {
            width: 100%;

            display: flex;
            gap: 2rem;
            // height: 400px;
          }
        }
        .project-info {
          width: 100%;
          // height: 400px;
        }
      }
    }
  }
  @media screen and (max-width: 968px) {
    .title {
      h2 {
        &::after {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 0rem;
    padding-top: 0rem;
    .title {
      h2 {
        &::after {
          display: none;
        }
      }
    }
  }
}
